.python-version
3-Improving-VAEs-IWAE-Flows-MCMC/checkpoints/**/*
3-Improving-VAEs-IWAE-Flows-MCMC/models/__pycache__/**/*
3-Improving-VAEs-IWAE-Flows-MCMC/plotting/__pycache__/**/*
3-Improving-VAEs-IWAE-Flows-MCMC/data/**/*
3-Improving-VAEs-IWAE-Flows-MCMC/.ipynb_checkpoints/**/*
3-Improving-VAEs-IWAE-Flows-MCMC/lightning_logs/**/*

